<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    ¿Qué son las categorías?
  </h2>
  <div class="module-content">
    <p>
      Puedes usar las categorías para crear y administrar colelcciones de conjuntos de datos.
      Esto se puede usar para catalogar conjuntos de datos de un proyecto concreto o un equipo, 
      o de un tema en particular, o como una manera muy sencilla de ayudar a la gente a buscar 
      y encontrar sus propios conjuntos de datos publicados.
    </p>
  </div>
</div>